@charset "UTF-8";

@font-face {
    font-family: xilosa;
    src: url('/desafios/d012/fonte/xilosa_.ttf'); 
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'xilosa', cursive;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    font-size: 8vw;
    padding-top: 50px;
    font-variant:small-caps;
}

header > p {
    padding-top: 8px;
    padding-bottom: 50px;
} 

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 8vh;
    padding-bottom: 8vh;
    line-height: 2em;
    padding-left: 35px;
    font-family: var(--fonte3);
    font-style: italic;
    font-weight: 600;
    font-size: 3vw;
}

section > p {
    padding-bottom: 1.2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(51, 51, 51);
    color: white; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.527);
    text-shadow: 1px 1px 0px black;
}

section#img1 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img2 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}